:root {
    --margin: 10px;
}

header{
    text-transform: uppercase;
    font-family: Verdana, sans-serif;

}

.container{
    display:flex;
    align-items: right;
    width:95%;
    margin: 0 auto;
    gap: 15px;
    justify-content: space-between;
}

.tx {
    flex-basis:calc((30%/3) - (var(--margin)));
    margin: var(--margin);
    height: 30px;
    padding: 10px;
    color: rgb(0, 0, 0);
    align-content: right;
    width:0;
}

.assine{
    background-color: black;
    color:#d2d2d2;
    padding: 10px;
    border-radius: 10px;
}

.container-menu{
    display:flex;
    align-items: right;
    width:95%;
    margin: 0 auto;
    justify-content: space-between;
}

.menu-opc p {
    flex-basis:calc((30%/10) - 5px);
    margin: var(--margin);
    height: 30px;
    padding: 5px;
    color: rgb(0, 0, 0);
    align-content: center;
    width:0;
    font-size: 12px;
}

body{
    background-color: #d2d2d2;
    font-family: Verdana, sans-serif;
    margin: var(--margin);
    padding: 0;
    max-width: vhw;
    text-align: left;
    margin-bottom: 5%;
}

.news{
    display:flex;
    width:95%;
    margin: 0 auto;
}

.h-popular {
    background-color: #f4f4f4;
    border-bottom: 1px solid #f4f4f4
}

.h-popular_item h3 {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: .1em;
    color: #026682;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem
}

.h-heading {
    padding: 2.2rem;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.news-left {
    flex: 0 0 33.5rem;
    display: flex;
    flex-direction: column;
}

.last_text {
    flex: 1;
    margin-right: 2rem
}

.last_text h3 {
    display: flex;
    align-items: baseline;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #026682;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: .8rem
}

.image {
    flex: 0 0 8.5rem;
    height: 8.5rem;
    width: 8.5rem;
    position: relative;
    overflow: hidden
}

.image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.news_image {
    flex: 0 0 28rem;
    height: 18.5rem;
    width: 28rem;
    overflow: hidden;
    position: relative
}

.news_image img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.news_text {
    margin-left: 2.3rem;
    flex: 1
}

.news_text>strong {
    display: flex;
    align-items: center;
    color: #026682;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

